<html>

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "tracker/css/appStyle.css" %}">
        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
        <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        {% if user.is_authenticated %}
            <ul class="navbar">
              <li class="navbar"><a href="#user">{{ current_user }}</a></li>
              <li class="navbar"><a href="/watched/">Watched</a></li>
              <li class="navbar"><a class="active" href="/unwatched/">Un-watched</a></li>

              <li style="float:right"><a href="/logout/">Log Out</a></li>
            </ul>




                {% for movie in movies_list %}

                <div class="tile tile-grid-item tile-column-3">
    <div class="tile-inner-padded tile-grid-item-inner">

  <img src= {{ movie.poster_path }} alt="Avatar">
<div class="container">
    <h4><b>{{ movie.title }}</b></h4>
    <p><i class="fa fa-star" aria-hidden="true"></i>
    {{movie.vote_average}}</p>
  </div>








    </div>
  </div>



                {% endfor %}



        {% else %}
            <a href="/login/?next={{ request.path }}">Login</a>
        {% endif %}

    </body>

</html>
